Package: com.npdev.iosviet
Name: IOSVietCrack
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: npdev
Author: npdev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
